User-Agent string doesn't conform to RFC

[RFC 7231 §5.5.3](https://tools.ietf.org/html/rfc7231#section-5.5.3) describes `User-Agent` strings, and "App Engine GCS Client" doesn't conform to the `token` specification.